html {
    overflow: hidden;
    margin: 0;
}
body {
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
}

.full-height {
    height: 100vh;
}
.login-container {
    flex-direction: column;
    justify-content: center;
}

#login-status {
    display: none;
    background: rgba(232,86,0,.7);
}
.card {
    background: rgba(0,0,0,0.7);
    border:none;
    color: white;
}
#login, #about {
    background: rgba(255, 179, 4,0.5);
    border-color: #fdba2b;
}
#login:hover, #about:hover {
    background: rgba(255, 179, 4,0.7);
}
.col-9{
    padding-right: 0.4em;
}

#username:focus, #password:focus{
   border-color: #fdba2b;
}