body {
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.full-height {
    height: 100vh;
}
.login-container {
    flex-direction: column;
    justify-content: center;
}